

body {
  color: #f5f6f7;
  height: 1px;
  display: flex;
  flex-direction: column;
}

div {
  display: flex;
}

a {
  text-decoration: none;
}

.pageContent {
  width: 1250px;
  height: 1600px;
  font-family: "Encode Sans";
  align-self: center;
  margin: 0px 100px 30px 100px;
  flex-direction: column;
  flex: none;
}

.pageContent * {
  font-family: 'Encode Sans';
}

.header {
  height: 80px;
  justify-content: center;
  align-items: center;
}

.menu {
  margin: 10px 0px;
  justify-content: space-between;
}

.menu a {
  font-weight: bold;
}

.g1 {
  color: #c4170c;
}

.oglobo {
  color: #1e4c9a;
}

.valor {
  color: #006767;
}

.ge {
  color: #06aa48;
}

.cartola {
  color: #ff7400;
}

.globoplay {
  color: #fb0234;
}

.dropz {
  color: rgb(255, 124, 168);
}

.gshow {
  color: #ff6700;
}

.quem {
  color: #333;
}

.receitas {
  color: #a5147d;
}

.news {
  justify-content: space-around;
}

.g1news {
  flex-direction: column;
}

.imgnews {
  flex-direction: column;
}

.textnews {
  flex-direction: column;
}

.g1secnews {
  justify-content: space-between;
}

.g1ternews {
  justify-content: space-between;
}

.genewsmaster {
  height: 800px;
  flex-direction: column;
  justify-content: space-around;
}

.genews1 {
  height: 250px;
  flex-direction: column;
  justify-content: space-around;
}

.genews2 {
  height: 200px;
  flex-direction: column;
  justify-content: space-around;
}

.genews3 {
  height: 200px;
  flex-direction: column;
  justify-content: space-around;
}

.gshownewsmaster {
  flex-direction: column;
  height: 800px;
  justify-content: space-around;
}

.gshownews1 {
  flex-direction: column;
  height: 200px;
  justify-content: space-around;
}

.gshownews2 {
  flex-direction: column;
  height: 250px;
  justify-content: space-around;
}

.gshownews3 {
  flex-direction: column;
  height: 250px;
  justify-content: space-around;
}

.imgBig {
  width: 240px;
  height: 128px;
  border-radius: 12px;
}

.imgSmall {
  width: 193px;
  height: 110px;
  border-radius: 12px;
}

.heroHeadline {
  font-size: 52px;
  font-weight: 700;
  color: #c4160c;
  width: 624px;
}

.heroSecondary {
  color: #303134;
  font-size: 18px;
}

.horizontalBorder {
  height: 1px;
  width: 100%;
  margin: 10px 0px;
  background-color: #f5f6f7;
  flex: none;
}

.verticalBorder {
  width: 1px;
  margin: 0px 36px;
  background-color: #EBEDEF;
  height: 100%;
  flex: none;
}

.g1mainnews {
  flex-direction: column;
  justify-content: space-around;
}

.hero1 {
  height: 200px;
  flex-direction: column;
  justify-content: center;
}

.hero2 {
  height: 50px;
  flex-direction: column;
  justify-content: space-around;
}

.g1title {
  color: #c4170c;
  font-weight: 500;
}

.getitle {
  color: #06aa48;
  font-weight: 500;
}

.gshowtitle {
  color: #ff6700;
  font-weight: 500;
}

.submain {
  color: #2F3134;
  font-weight: 700;
}

.subsecondary {
  color: #2F3134;
  font-weight: 400;
}