

body {
  color: #f5f6f7;
  width: 100%;
  height: 1px;
  display: flex;
  flex-direction: column;
}

div {
  display: flex;
}

a {
  text-decoration: none;
}

.pageContent {
  width: 1250px;

  font-family: "Encode Sans";
  align-self: center;
  margin: 0px 100px 30px 100px;
  flex-direction: column;
}

.header {
  height: 80px;
  justify-content: center;
  align-items: center;
}

.menu {
  margin: 10px 0px;
  justify-content: space-between;
}

.menu a {
  font-weight: bold;
}

.g1 {
  color: #c4170c;
}

.oglobo {
  color: #1e4c9a;
}

.valor {
  color: #006767;
}

.ge {
  color: #06aa48;
}

.cartola {
  color: #ff7400;
}

.globoplay {
  color: #fb0234;
}

.dropz {
  color: rgb(255, 124, 168);
}

.gshow {
  color: #ff6700;
}

.quem {
  color: #333;
}

.receitas {
  color: #a5147d;
}

.g1news {
  flex-direction: column;
}

.imgBig {
  width: 240px;
  height: 128px;
  border-radius: 12px;
}

.imgSmall {
  width: 193px;
  height: 110px;
  border-radius: 12px;
}

.heroHeadline {
  font-size: 52px;
  font-weight: bold;
  color: #c4160c;
}

.heroSecondary {
  color: #303134;
  font-size: 18px;
}

.horizontalBorder {
  height: 1px;
  width: 100%;
  background-color: #f5f6f7;
}

.verticalBorder {
  width: 1px;
  background-color: #EBEDEF;
  height: 100%;
}

.g1title {

}

.getitle {

}

.gshowtitle {

}

.submain {

}

.subsecondary {

}